<div class="card">
    <div  class="col-lg"   >
     
        
    <h5 class="card-header text-center"> <img src="assets/img/insurance.png"  ><b>Araç Kirala</b> </h5>
    <div class="card-body" >
        <div class="mb-3 row">
            <label for="inputPassword" class="col-2">Ücret: </label>
            <div class="col-10" *ngFor="let car of cars">
                <input class="form-control" type="text" placeholder="{{car.dailyPrice | currency: '₺'}}"
                    aria-label="Disabled input example" disabled>
            </div>
        </div>
      <div class="mb-3 row">
        <label for="inputPassword" class="col-2 ">Müşteri Id:</label>
        <div class="col-10">
          <input class="form-control" type="text" placeholder="{{customers.userId}}"
           value="{{customers.userId}}"
            aria-label="Disabled input example" disabled>
</div>
        </div>
         <div class="mb-3 row">
        <label for="example-date-input" class="col-2">Başlangıç Tarihi:</label>
          <div class="col-10">
        <input [(ngModel)]="rentDateValue" class="form-control" min="{{ getRentMinDate() }}" value="{{ getRentMinDate() }}" type="date"
            [(ngModel)]="rentDate" />
          </div>
</div>

 <div class="mb-3 row">
        <label for="example-date-input" class="col-2">Bitiş Tarihi:</label>
          <div class="col-10">
        <input class="form-control" type="date" min="{{ getReturnMinDate() }}" value="{{ getReturnMinDate() }}"
            [(ngModel)]="returnDate" />
</div>
</div>
        <div class="d-grid gap-2">

        <button *ngIf="rentFlag" class="btn btn-warning btn-block mt-3"  >findex yetersiz
               </button>
            <button *ngIf="!rentFlag"  class="btn btn-warning btn-block mt-3"  (click)="checkClick()">Aracı
                Kirala</button>
           
        </div>
    </div>
</div>
</div>