
  .card-header {
    text-align: center;
    font-size: large;
    
  }

  .table {
    width: 800px;
    text-align: center;
    border-collapse: collapse;
    
  }

  .table th {
    width: 800px;
    background-color: #b6bdb6;
    max-width: 75rem;
  }
  
