
  .card-header {
    text-align: center;
    font-size: large;
    
  }

  .table {
    width: 800px;
    text-align: center;
    border-collapse: collapse;
    
  }
  .btn{
    margin: 0 auto;
    margin-left: 300px;
    width: 110px;
  }

  .table th {
    width: 800px;
    background-color: #b6bdb6;
    max-width: 75rem;
  }
  
