
  <div class="list-group">
    
    <div class="mb-0">
      <input type="text" [(ngModel)]="brandText" class="form-control" id="brandText" placeholder="Marka Giriniz...">
    </div>
    <br>
    <button routerLink="/cars"  type="button" id="brand" class="list-group-item list-group-item-action "  aria-current="true">
      Brand
    </button>
    <button (click)="setCurrentBrand(brand)" routerLink="/cars/brands/{{brand.brandId}}" type="button"   [class]="getCurrentBrandClass(brand)" *ngFor="let brand of brands |brandPipe:brandText">{{ brand.brandName }} </button>
    
  </div>