<footer class="footer">
    <div class="footer-left col-md-4 col-sm-6">
      <p class="about">
        <span><h2><u>Hakkımızda</u></h2></span> 
      Rent Car ,Kurulduğu günden itibaren tecrübeli ekibi, geniş araç filosu, ile siz değerli müşterilerimizin tam desteğini kazanmıştır. 
      Hedefimiz her zaman hızlı ve riskli büyümek yerine doğru zamanda doğru müşteriyle buluşmak olmuştur.
      <br>
     
"Güvenli ve Keyifli Seyahatler"
    
    </p>
    

    </div>
    <div class="footer-center col-md-4 col-sm-6">
      <div>
        <i class="fa fa-map-marker"></i>
        <p><span><h3><u>Adresimiz</u></h3> </span> Trabzon, Akçaabat</p>
      </div>
      <div>
        <i class="fa fa-phone"></i>
        <p> (+00) 462 61 61</p>
      </div>
      <div>
        <i class="fa fa-email"></i>
        <p> rentcartrabzon@gmail.com</p>
      </div>
    </div>
    <div class="footer-right col-md-4 col-sm-6">
    
   
     
      <p > ReCap Project &copy; 2021</p>
    </div>
  </footer>