
  <div class="table-responsive">
    <table  class="table table-striped table-bordered">
      
      <thead>
        <tr>
       
          <th scope="col">#</th>
       
          <th scope="col">Brand Name</th>
          <th scope="col">Model</th>
         
          <th scope="col-auto">İşlemler</th>
          <th scope="col-auto" >
          <button type="button" class="btn" data-bs-toggle="modal" routerLink="/brand-add"  title="Araba Ekle" style="margin-right: 16px">
              <img src="assets/img/plus.png" width="45">
            </button>
           
          </th>
        </tr>
      
      </thead>
      
      <tbody>
        <tr *ngFor="let brand of brands">
         
        <td></td>
          <td>{{brand.brandName}}</td>
          <td>{{brand.model}}</td>
        

          <td>
            <button routerLink="/brandlist/update/{{brand.brandId}}" type="button" 
            class="btn "> <img src="assets/img/updated.png" width="36"></button>
          
          </td>
         
        </tr>
        

      </tbody>
    </table>
    
  </div>

