<div class="content">
    <div class="col-md-6 ">
      <div class="card">
        <div class="flex-wrap justify-content-center">
        <div class="card-header"><h5 class="title">Renk Güncelleme</h5></div>
        <div class="card-body">
          <form [formGroup]="colorUpdateForm">
           <div class="form-group">
           <div class="mb-3">
                            <label for="colorId" style="display: none;" ><b>Color Id</b></label>
                            <input type="text" id="colorId" formControlName="colorId" class="form-control" [(ngModel)]="colorId" style="display: none;"/>
                        </div>
                        <div class="mb-3">
                            <label for="colorName"><b>Renk Adı</b></label>
                            <input type="text" id="colorName" formControlName="colorName" class="form-control" [(ngModel)]="colorName"/>
                        </div>
                       
          </div>
          </form>
        </div>
        </div>
        <div class="card-footer">
          <div>
            <button (click)="update()" type="button" class="btn btn-primary">
           Güncelle
            </button>
          </div>
        </div>
        
      </div>
    </div>
  </div>
